<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- # interface preferences -->
    <preference for="Dhl\GroupTracking\Api\TrackingInfoProviderInterface" type="Dhl\GroupTracking\Model\TrackingInfoProvider"/>
    <preference for="Dhl\GroupTracking\Api\Data\TrackingStatusInterface" type="Dhl\GroupTracking\Model\TrackingStatus"/>
    <preference for="Dhl\GroupTracking\Api\Data\TrackingEventInterface" type="Dhl\GroupTracking\Model\TrackingEvent"/>
</config>
