<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- # interface preferences -->
    <preference for="Dhl\UnifiedTracking\Api\TrackingInfoProviderInterface" type="Dhl\UnifiedTracking\Model\TrackingInfoProvider"/>
    <preference for="Dhl\UnifiedTracking\Api\Data\TrackingErrorInterface" type="Dhl\UnifiedTracking\Model\Tracking\TrackingError"/>
    <preference for="Dhl\UnifiedTracking\Api\Data\TrackingEventInterface" type="Dhl\UnifiedTracking\Model\Tracking\TrackingEvent"/>
    <preference for="Dhl\UnifiedTracking\Api\Data\TrackingStatusInterface" type="Dhl\UnifiedTracking\Model\Tracking\TrackingStatus"/>

    <!-- # sdk preferences -->
    <preference for="Dhl\Sdk\UnifiedTracking\Api\ServiceFactoryInterface" type="Dhl\Sdk\UnifiedTracking\Service\ServiceFactory\Virtual"/>
    <virtualType name="Dhl\Sdk\UnifiedTracking\Service\ServiceFactory\Virtual" type="Dhl\Sdk\UnifiedTracking\Service\ServiceFactory" />

    <!-- # virtual types -->
    <virtualType name="Dhl\UnifiedTracking\Model\Pipeline\RequestTracksPipeline\Virtual" type="Netresearch\ShippingCore\Model\Pipeline\Track\RequestTracksPipeline">
        <arguments>
            <argument name="stages" xsi:type="array">
                <item name="send" sortOrder="100" xsi:type="object">Dhl\UnifiedTracking\Model\Pipeline\Stage\SendRequestStage</item>
                <item name="mapResponse" sortOrder="200" xsi:type="object">Dhl\UnifiedTracking\Model\Pipeline\Stage\MapResponseStage</item>
            </argument>
            <argument name="artifactsContainerFactory" xsi:type="object">Dhl\UnifiedTracking\Model\Pipeline\ArtifactsContainerFactory\Virtual</argument>
        </arguments>
    </virtualType>
    <virtualType name="Dhl\UnifiedTracking\Model\Pipeline\ArtifactsContainerFactory\Virtual" type="Netresearch\ShippingCore\Api\Data\Pipeline\ArtifactsContainerInterfaceFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Dhl\UnifiedTracking\Model\Pipeline\ArtifactsContainer</argument>
        </arguments>
    </virtualType>

    <!-- # argument di overrides -->
    <type name="Netresearch\ShippingCore\Model\Util\ApiLogAnonymizer">
        <arguments>
            <argument name="patterns" xsi:type="array">
                <item name="dhlTrackingApiKey" xsi:type="string">|DHL-API-Key: (.+)|</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\UnifiedTracking\Model\TrackingInfoProvider">
        <arguments>
            <argument name="trackingPipeline" xsi:type="object">Dhl\UnifiedTracking\Model\Pipeline\RequestTracksPipeline\Virtual</argument>
        </arguments>
    </type>
    <type name="Dhl\UnifiedTracking\Plugin\Carrier\GetTrackingDetails">
        <arguments>
            <argument name="trackingInfoProvider" xsi:type="object">Dhl\UnifiedTracking\Model\TrackingInfoProvider\Proxy</argument>
        </arguments>
    </type>
</config>
