<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
  <module name="Dhl_UnifiedTracking">
    <sequence>
      <module name="Dhl_ShippingCore"/>
      <module name="Magento_Sales"/>
      <module name="Magento_Shipping"/>
      <module name="Magento_Store"/>
      <module name="Magento_Framework"/>
    </sequence>
  </module>
</config>
